#top-links-container {
    padding: 5px;
    background-color: #6e716e;
}

#top-links-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul#top-links {
    padding: 0;
    margin: 0;
}

ul#top-links li {
    list-style-type: none;
    display: inline;
}

ul#top-links li a, ul#top-links li span {
    color: white;
    padding: 5px 0 5px 8px;
}